@model libraryManagementSystem.Models.Entity.members

@{
    ViewBag.Title = "showChangePassword";
    Layout = "~/Views/Shared/Layout_1.cshtml";
}

@using (Html.BeginForm("changePassword", "Member", FormMethod.Post))
{
    <div style="margin-top:15px;">

        <label>Member ID</label>
        @Html.TextBoxFor(m => m.member_id, new { @class = "form-control", @readonly = "readonly" })
        <div style="margin-top:15px;" />

        <label>New Password</label>
        @Html.TextBox("newPassword", "", new { @class = "form-control", autocomplete = "off", type = "password" })
        <div style="margin-top:15px;" />

        <label>New Password Again</label>
        @Html.TextBox("newPassword2", "", new { @class = "form-control", autocomplete = "off", type = "password" })
        <div style="margin-top:15px;" />

        @Html.CheckBox("showPass", new { onchange = "document.getElementById('newPassword').type = this.checked ? 'text' : 'password';document.getElementById('newPassword2').type = this.checked ? 'text' : 'password'" })
        <label>Show Password</label>

        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
                alert("@ViewBag.Message");
            </script>
        }

    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info" id="chngPassBtn" onclick="return confirm('Do you want to change your password ?')">Change Password</button>
    </div>
}

