
@model libraryManagementSystem.Models.Entity.members

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="icon" href="~/library-icon/library.png" />

    <link href="~/web-login-css/style.css" rel="stylesheet" />
    <link href="~/web-login-css/fontawesome-all.css" rel="stylesheet" />

</head>
<body>
    <div>
        <h1>Member Register Form</h1>
        <div class="w3l-login-form">
            <h2>Register Here</h2>

            @using (Html.BeginForm("Register", "Register", FormMethod.Post))
            {
                <div class="w3l-form-group">
                    <div class="group">
                        @Html.TextBoxFor(m => m.member_name, new { @class = "form-control", autocomplete = "off", placeholder = "Name" })
                    </div>
                </div>

                <div class="w3l-form-group">
                    <div class="group">
                        @Html.TextBoxFor(m => m.member_surname, new { @class = "form-control", autocomplete = "off", placeholder = "Surame" })
                    </div>
                </div>

                <div class="w3l-form-group">
                    <div class="group">
                        @Html.TextBoxFor(m => m.mail, new { @class = "form-control", autocomplete = "off", placeholder = "Email" })
                    </div>
                </div>

                <div class="w3l-form-group">
                    <div class="group">
                        @Html.TextBoxFor(m => m.user_name, new { @class = "form-control", autocomplete = "off", placeholder = "Username" })
                    </div>
                </div>


                <div class="w3l-form-group">
                    <div class="group">
                        @Html.TextBoxFor(m => m.password, new { @class = "form-control", autocomplete = "off", placeholder = "Password", type = "password" })
                        <i class="fas fa-eye" style="color: gray" id="togglePassword"></i>
                    </div>
                </div>

                <div class="w3l-form-group">
                    <div class="group">
                        @Html.TextBoxFor(m => m.phone_number, new { @class = "form-control", autocomplete = "off", placeholder = "Phone Number (5XX-XXX-XX-XX)", oninput = "this.value=this.value.replace(/[^0-9]/g,'');", maxlength = "10" })
                    </div>
                </div>

                <div class="w3l-form-group">
                    @Html.DropDownListFor(m => m.schools.school_id, (List<SelectListItem>)ViewBag.schools, new { @class = "form-control" })
                </div>

                <button id="registerBtn">Register</button>
            }


            <p class="w3l-register-p" style="color: gray">
                Do you have an account?<a target="_self" href="/Login/Login/" class="register">
                    Login
                </a>
            </p>

        </div>

        <script>
            const togglePassword = document.querySelector("#togglePassword");
            const password = document.querySelector("#password");

            togglePassword.addEventListener("click", function () {
                // toggle the type attribute
                const type =
                    password.getAttribute("type") === "password" ? "text" : "password";
                password.setAttribute("type", type);

                // toggle the icon
                this.classList.toggle("fa-eye-slash");
            });

            // prevent form submit
            const form = document.querySelector("form");
            form.addEventListener("submit", function (e) {
                e.preventDefault();
            });
        </script>

    </div>
</body>
</html>
