
@using libraryManagementSystem.Models.Entity

@using PagedList

@using PagedList.Mvc

@model PagedList.IPagedList<employees>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_1.cshtml";
}

<h2>Employee</h2>


@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{
    <div style="margin-bottom: 15px; margin-top: 15px; display: flex;">
        @*<input type="search" class="form-control" placeholder="Search a book..." style="width: 500px; margin-bottom: 15px" autocomplete="off" />
            <button type="submit" class="btn btn-primary" style="width:100px;">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>*@

        @Html.TextBox("searchEmployee", "", new { autocomplete = "off", style = "width: 500px; margin-bottom: 15px", placeholder = "Search an employee", @class = "form-control" })
        <button type="submit" class="btn btn-primary" style="width:150px; height:35px; margin-left:15px;"> Search <span class="fa fa-search" /> </button>
    </div>
}

<table class="table table-hover">
    <tr>
        <th>Employee ID</th>
        <th>Emplyee Name</th>
        <th>Employee Surname</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.employee_id</td>
            <td>@item.employee_name</td>
            <td>@item.employee_surname</td>
            <td>@Html.ActionLink("Delete", "deleteEmployee", new { id = item.employee_id }, new { @class = "btn btn-danger", onclick = "return confirm('Do you want to delete selected row?')" })</td>
            <td>@Html.ActionLink("Update", "showUpdateEmployee", new { id = item.employee_id }, new { @class = "btn btn-success" })</td>
        </tr>
    }
</table>

<div style="float:right">@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))</div>

<a href="/Employee/addEmployee/" class="btn btn-primary">Add new employee</a>