@*for usage of entities*@
@using libraryManagementSystem.Models.Entity

@using PagedList
@using PagedList.Mvc

@*school list into the model*@
@model PagedList.IPagedList<schools>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_1.cshtml";
}

<h2>School</h2>

@using (Html.BeginForm("Index", "School", FormMethod.Get))
{
    <div style="margin-bottom: 15px; margin-top: 15px; display: flex;">
        @*<input type="search" class="form-control" placeholder="Search a book..." style="width: 500px; margin-bottom: 15px" autocomplete="off" />
            <button type="submit" class="btn btn-primary" style="width:100px;">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>*@

        @Html.TextBox("searchSchool", "", new { autocomplete = "off", style = "width: 500px; margin-bottom: 15px", placeholder = "Search a school", @class = "form-control" })
        <button type="submit" class="btn btn-primary" style="width:150px; height:35px; margin-left:15px;"> Search <span class="fa fa-search" /> </button>
    </div>
}

<table class="table table-hover">
    <tr>
        <th>School ID</th>
        <th>School Name</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.school_id</td>
            <td>@item.school_name</td>
            <td>@Html.ActionLink("Delete", "deleteSchool", new { id = item.school_id }, new { @class = "btn btn-danger", onclick = "return confirm('Do you want to delete selected row?')" })</td>
            <td>@Html.ActionLink("Update", "showUpdateSchool", new { id = item.school_id }, new { @class = "btn btn-success" })</td>
            @*<td><a href="/School/deleteSchool/@item.school_id" class="btn btn-danger">Delete</a></td>
                <td><a href="/School/showUpdateSchool/@item.school_id" class="btn btn-success">Update</a></td>*@
        </tr>
    }
</table>

<div style="float:right">@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))</div>

<a href="/School/addSchool/" class="btn btn-primary">Add new school</a>

