
@model libraryManagementSystem.Models.Entity.transactions

@{
    ViewBag.Title = "showReturnBook";
    Layout = "~/Views/Shared/Layout_1.cshtml";
}

@using (Html.BeginForm("returnBook", "BookTransaction", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>

    <div class="form-group">

        <div style="margin-bottom:15px">
            <label>ID</label>
            @Html.TextBoxFor(t => t.id, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" })
        </div>

        <div style="margin-bottom:15px">
            <label>Book</label>
            @Html.TextBoxFor(t => t.books.book_name, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" })
        </div>

        <div style="margin-bottom:15px">
            <label>Member</label>
            @*@Html.TextBoxFor(t => t.members.member_name, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" })*@
            @Html.HiddenFor(t => t.member) 
            <input type="text" class="form-control" name="member" value="@Model.members.member_name @Model.members.member_surname" readonly="readonly" />
        </div>

        <div style="margin-bottom:15px">
            <label>Employee</label>
            @*@Html.TextBoxFor(t => t.employees.employee_name, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" })*@
            @Html.HiddenFor(t => t.employee)
            <input type="text" class="form-control" name="employee" value="@Model.employees.employee_name @Model.employees.employee_surname" readonly="readonly" />
        </div>

        <div style="margin-bottom:15px">
            <label>Taken Date</label>
            @Html.TextBoxFor(t => t.taken_date, "{0: dd.MM.yyyy}", new { @class = "form-control", autocomplete = "off", @readonly = "readonly" })
        </div>

        <div style="margin-bottom:15px">
            <label>Return Date</label>
            @Html.TextBoxFor(t => t.return_date, "{0: dd.MM.yyyy}", new { @class = "form-control", autocomplete = "off", @readonly = "readonly" })
        </div>

        <div style="margin-bottom:15px">
            <label>Member Return Date</label>
            <input type="text" class="form-control" name="member_return_date" value="@DateTime.Now.ToShortDateString()" readonly="readonly" />
        </div>

        <div style="margin-top:15px">
            <button class="btn btn-primary" id="takeBookBtn">Take return</button>
        </div>

    </div>
}
